<%= link_to "Pokemon page", pokemons_path(@pokemons) %>
<%= link_to "Regions page", regions_path(@regions)%>

<h1>Pokemon Show page</h1>

<h3><%= @pokemons.name %></h3>
<p>Weight: <%= @pokemons.pokemon_weight %></p>
<p>Has Evolution: <%= @pokemons.has_evolution %></p>
