<%= link_to "Pokemon page", pokemons_path(@pokemon) %>
<%= link_to "Regions page", regions_path(@region)%>

<h1>Region Show page</h1>

<p>Region name: <%= @region.name %></p>
<p>Caught all in region?: <%= @region.caught_all_in_region %></p>
<p>Total number in region: <%= @region.total_num_in_region %></p>
<p>Region Pokemon count: <%= @region.pokemons_count %> </p>
